.group-user-name {
    color: white;
}

.css-1wnsr1i {
    background-color: black !important;
    color: white !important;
    text-align: center !important;
}

.group-name-input {
    height: 3vh;
}