.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    height: 5vh;
}

.menu-open-img {
    background-image: url(../assets/burger-menu.png);
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

.menu-close-img {
    background-image: url(../assets/cross.png);
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.left-nav {
    display: flex;
    gap: 9px;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.nav-link,
.btn,
.register {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.btn {
    padding: 5px 10px;
    background-color: #1da583;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register {
    padding: 5px 10px;
}